/go.mod
/.idea/.gitignore
/.idea/.name
/.idea/flightCache.iml
/go.sum
/.idea/modules.xml
/.idea/vcs.xml
/awesomeProject1.exe
/awesomeProject1.iml
/rules.json
/sampleSearchResult.json
/main.zip
/main
/aws/lambda/main.exe
